/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#region{
	-fx-background-color: #E57373;
}

.label{
	-fx-font-family: "Futura";
}

#textField{
	-fx-font-family: "Futura";
	-fx-background-color: #EEEEEEEE;
}

#okButton{
	-fx-font-family: "Futura";
	-fx-background-color: #ffb74d;
}

#cancelButton{
	-fx-font-family: "Futura";
	-fx-background-color: #ffb74d;
}

#firstNameField{
	-fx-font-family: "Futura";
}